@{
    ViewBag.Title = "Home Page";
}

<div class="main-title">
    <h2>Ford Otosan Student Application Platform</h2>
</div>

<hr class="soft"/>

<div class="announcement">
    <div class="announcement-header">
        <h2>Announcements</h2>
    </div>
    <div id="myCarousel" class="carousel slide body-content" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @for (int iter = 0; iter < ViewBag.News.Count; iter++)
            {
                if (iter == 0)
                {
                    <li data-target="#myCarousel" data-slide-to="@iter" class="active"></li>
                }
                else
                {
                    <li data-target="#myCarousel" data-slide-to="@iter"></li>
                }
            }
            <!--
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>-->
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @{
                var i = 0;
            }
            @foreach (var item in ViewBag.News)
            {
                if (i == 0)
                {
                    <div class="item active">
                        <a href="@Url.Action("Details", "News", new { id = item.newId })">
                            <img src="data:image;base64,@Convert.ToBase64String(item.image)" alt=@item.header style="height:550px;width:950px;">
                        </a>
                        <div class="carousel-caption">
                            <h3>@item.header</h3>
                        </div>
                    </div>
                }
                else
                {
                    <div class="item">
                        <a href="@Url.Action("Details", "News", new { id = item.newId })"><img src="data:image;base64,@Convert.ToBase64String(item.image)" alt=@item.header style="height:550px;width:950px;"></a>
                        <div class="carousel-caption">
                            <h3>@item.header</h3>
                        </div>
                    </div>
                }


                i++;

            }

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div class="see-all">
        <a href=@Url.Action("Index","News")>View All News...</a>
    </div>

</div>

@if (Session["UserName"] != null)
{
    <div class="container">
        <div>
            <h2>Welcome @Session["UserName"]</h2>
        </div>
    </div>
}