@model StudentApplicationSystem.Models.Job

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Job Poster</h2>

<h3>Are you sure you want to delete this poster?</h3>
<div>
    <hr class="soft"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.applicantList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicantList)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applicationStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicationStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.applicationFinish)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.applicationFinish)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>