@model StudentApplicationSystem.Models.InterviewQuestionPaper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InterviewQuestionPaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.Job.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Job.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.printName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question4.question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question4.question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question5.question1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question5.question1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.answer3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.answer3)
        </dd>
    </dl>
</div>
<p>
    <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Applications")';return false;">
        <span class="glyphicon glyphicon-arrow-left"></span> Back To List
    </button>
</p>
