@model StudentApplicationSystem.Models.InterviewQuestionPaper

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>InterviewQuestionPaper</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Application.Job.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Application.Job.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.printName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.email)
        </dd>

        @foreach (var item in Model.allQuestions)
        {
            <dt>
                @Html.DisplayNameFor(modelItem => item.question1)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => item.question1)
            </dd>

            <dt>
                @Html.DisplayNameFor(modelItem => Model.answers)
            </dt>

            <dd>
                @Html.DisplayFor(modelItem => Model.answers)
            </dd>
            
        }
    </dl>
</div>
<p>
    <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Applications")';return false;">
        <span class="glyphicon glyphicon-arrow-left"></span> Back To List
    </button>
</p>
