@model StudentApplicationSystem.Models.InterviewQuestionPaper

@{
    ViewBag.Title = "Edit";
}

<hr class="soft" />

<div class="well">

    <p>
        You cannot edit your interview paper if you edit once. You have only 1 chance to give the right answers.
    </p>

</div>

<hr class="soft"/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Interview Questions</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.paperId)
    @Html.HiddenFor(model => model.applicationId)
    @Html.HiddenFor(model => model.userId)
    @Html.HiddenFor(model => model.jobId)
    @Html.HiddenFor(model => model.question1)
    @Html.HiddenFor(model => model.question2)
    @Html.HiddenFor(model => model.question3)
    @Html.HiddenFor(model => model.cd_creater)
    @Html.HiddenFor(model => model.dt_created)


    <div class="form-group">
        @Html.LabelFor(model => model.question1, "question1", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("question1", Model.Question.question1, new { disabled = "disabled", @readonly = true, style = "width:250px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.answer1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.answer1, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.answer1, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.question2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("question1", Model.Question4.question1, new { disabled = "disabled", @readonly = true, style = "width:250px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.answer2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.answer2, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.answer2, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.question3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextArea("question1", Model.Question5.question1, new { disabled = "disabled", @readonly = true, style = "width:250px" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.answer3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.answer3, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.answer3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-link" onclick="location.href='@Url.Action("Index", "Applications")';return false;">
        <span class="glyphicon glyphicon-arrow-left"></span> Back To List
    </button>
    @Html.ActionLink("Back to List", "Index")
</div>
