@model IEnumerable<StudentApplicationSystem.Models.InterviewQuestionPaper>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.question3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.answer3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_creater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cd_modifier)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_modified)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Application.applicationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question.question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question4.question1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Question5.question1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.question3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.answer3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_creater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cd_modifier)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_modified)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Application.applicationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question.question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question4.question1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Question5.question1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.paperId }) |
            @Html.ActionLink("Details", "Details", new { id=item.paperId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.paperId })
        </td>
    </tr>
}

</table>
