@model IEnumerable<StudentApplicationSystem.Models.User>

@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome @Session["UserName"]</h2>

<hr class="soft"/>

@if (Session["UserName"] != null)
{
    if ((int)Session["isAdmin"] != 0)
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        if (Model.Count() == 0)
        {
            <text>There is no user!</text>
        }
        else
        {
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.surname)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.gpa)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.phone_number)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.cd_modifier)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dt_modified)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.dt_created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.isAdmin)
                    </th>
                    <th>
                        Operations
                    </th>
                </tr>



                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.department)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.gpa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.phone_number)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cd_modifier)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dt_modified)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.dt_created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.printAdmin)
                        </td>
                        <td>
                            <a href=@Url.Action("Edit", new { id = item.userId })><i class="glyphicon glyphicon-edit"> Edit </i></a>
                            <a href=@Url.Action("Details", new { id = item.userId })><i class="glyphicon glyphicon-zoom-in"> Details </i></a>
                            <a href=@Url.Action("Delete", new { id = item.userId })><i class="glyphicon glyphicon-remove"> Delete </i></a>
                        </td>
                    </tr>
                }
            </table>
        }
    }
    else
    {
        <h2>Please Login with an admin account to see UserList.</h2>
    }
}
else
{
    <h2>Please Login!</h2>
}
