@model IEnumerable<StudentApplicationSystem.Models.Application>

@{
    ViewBag.Title = "Index";
}

<h2>Applications</h2>

<hr class="soft"/>

<div class="well">

    <table class="table" id="myTable">
        <thead>
            <tr>
                @if ((int)Session["isAdmin"] == 1)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.User.userId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.User.email)
                    </th>
                }
                <th>
                    @Html.DisplayNameFor(model => model.cv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.paperId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.dt_created)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job.jobName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job.applicationFinish)
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody id="tableData">

            @foreach (var item in Model)
            {
                <tr>
                    @if ((int)Session["isAdmin"] == 1)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.User.userId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.printName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.email)
                        </td>
                    }

                    <td>
                        <form target="_blank" action=@Url.Action("Download", "Applications", new { id = item.applicationId })>
                            <button class="btn btn-primary" target="_blank" onclick="location.href='@Url.Action("Download", "Applications", new { id = item.applicationId })'">
                                <span class="glyphicon glyphicon-download-alt"></span> Download
                            </button>
                        </form>


                    </td>
                    <td>
                        @if (item.paperId != null)
                        {
                            <a href=@Url.Action("Edit", "InterviewQuestionPapers", new { id = item.paperId })><i class="glyphicon glyphicon-zoom-in"> Go to Interview </i></a>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.paperId)
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.dt_created)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.jobName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.applicationFinish)
                    </td>
                    <td>
                        <a href=@Url.Action("Details", new { id = item.applicationId })><i class="glyphicon glyphicon-zoom-in"> Details </i></a>
                        <a href=@Url.Action("Delete", new { id = item.applicationId })><i class="glyphicon glyphicon-remove"> Delete </i></a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

<script>    
    var table2_Props = {
        paging: true,
        paging_length: 3,
        rows_counter: true,
        rows_counter_text: "Applications:",
        btn_reset: true,
        loader: true,
        loader_text: "Loading...",
        col_0: "nonw",
        col_1: "none",
        col_5: "none",
        display_all_text: " [ Show all ] ",
        sort_select: true
    };
    var tf2 = setFilterGrid("myTable", table2_Props); 

</script>

